body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 20px solid rgba(255, 255, 255, 0.1);
    border-top-color: rgb(157, 0, 0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    justify-content: center;
    align-items: center;

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}